.form-registro {
    border-radius: 10px;
    width: 510px;
    background-color: var(--color-card);
    transition: box-shadow 0.3s;
}

.form-registro:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.form-div-registro {
    padding: 20px;
    font-weight: bold;
}

input[type=text], input[type=password], input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin-top: 4px;
    margin-bottom: 16px;
    display: inline-block;
    border: 1px solid #495874;
    box-sizing: border-box;
    font-weight: bold;
    transition: box-shadow 0.3s, transform 0.4s;
}

input[type=text]:hover, input[type=password]:hover{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-1px);
}

label[for=user], label[for=password]{
    font-weight: bold;
}


.register-btn{
    cursor: pointer;
    border: none;
    padding: 12px 20px;
    background-color: var(--color-card);
    color: var(--color-text-primary);
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    transition: color 0.4s;
    font-family: inherit;
    text-decoration: none;
    font-size: 100%;
    line-height: 1.2;
}

.register-btn:hover{
    background-color: var(--color-card);
    color: var(--color-accent);
}

input{
    background-color: var(--color-card);
    color: var(--color-accent);
}

.container-login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.form-register-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input[name=remember]{
    accent-color: var(--color-accent);
}

.msg-error {
  display: block;        
  margin: 4px 0 8px;      
  color: #e53935;       
  font-size: 0.85rem;
}

.msg-form {
  margin-top: 12px;
  font-weight: 600;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.password-wrapper input {
  width: 100%;
  padding-right: 2.2rem;
}
.toggle-password {
  position: absolute;
  right: 0.5rem;
  background: transparent;
  border: none;
  color: #ccc;
  cursor: pointer;
  font-size: 1.2rem;
  top: 39%;
    transform: translateY(-50%);
}
.toggle-password:hover { color: #fff; }

#user, .msg-error + .hint-text {
  margin-bottom: 1.2rem; /* aumenta espacio debajo del campo usuario */
}
.hint-text {
  display: block;
  font-size: 0.8rem;
  color: #888;
  margin-top: -12px;
  margin-bottom: 12px;
  
}