.footer {
  background-color: var(--color-header); 
  color: var(--color-text-secondary); 
  padding: 2rem 1rem;
  text-align: center;                 
  border-top: 1px solid var(--color-card); 
  position: relative;                
}


.footer-left {
  position: absolute;
  left: 30px;
  bottom: 60px;
  text-align: left;
  color: #ffffff
}

.clima-widget {
  color: #ffffff;               
  font-weight: 600;
  font-size: 0.9rem;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.4);
}

.clima-widget p {
  margin: 3px 0;
}

.clima-icon {
  font-size: 1.4rem;            
  margin-right: 5px;
}

.footer p {
  margin: 0.5rem 0;
}


.footer-socials {
  margin-top: 1rem;
}

.footer-socials a {
  margin: 0 15px;
  color: var(--color-text-secondary);
  text-decoration: none;
  font-size: 1.5rem; 
  transition: color 0.3s ease;
}

.footer-socials a:hover {
  color: var(--color-accent); 
}
