.form-group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 15px 12px;
}
.form-input{
    gap: 30px;
    padding: 12px 20px;
    border: 1px solid #495874;
    font-weight: bold;
}